<a href="https://colab.research.google.com/github/chyj0805/Project_2/blob/Yujie-branch/Data_Prepareation_and_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

def get_stock_historical_data(api_key, stock_symbol):
    # Define the base URL and API parameters
    base_url = "https://www.alphavantage.co/query"
    function = "TIME_SERIES_DAILY"
    outputsize = "full"
    datatype = "json"
    params = {
        "function": function,
        "symbol": stock_symbol,
        "outputsize": outputsize,
        "datatype": datatype,
        "apikey": api_key
    }

    # Send API request and get JSON response
    response = requests.get(base_url, params=params)
    data = response.json()

    # Extract daily time series data
    time_series = data["Time Series (Daily)"]

    data_list = []
    for date, details in time_series.items():
        # Extract individual data points for each day
        row = {
            "Date": date,
            "Open": details["1. open"],
            "High": details["2. high"],
            "Low": details["3. low"],
            "Close": details["4. close"],
            "Volume": details["5. volume"]
        }
        data_list.append(row)

    # Create a Pandas DataFrame
    df = pd.DataFrame(data_list)
    df["Date"] = pd.to_datetime(df["Date"])
    df = df.sort_values(by="Date")

    # Save DataFrame to a CSV file
    csv_filename = f"{stock_symbol}_historical_data.csv"
    df.to_csv(csv_filename, index=False)

    print(f"Data saved to {csv_filename}")

# Example usage: Replace 'api_key' and 'stock_symbol' with your actual values
api_key = "4FHTO2GAT3NL1EZ8"
stock_symbol = "IYW"
get_stock_historical_data(api_key, stock_symbol)

Data saved to IYW_historical_data.csv

In [ ]:
df_IYE = pd.read_csv("Stock_data/IYE_historical_data.csv")


df_IYE["Date"] = pd.to_datetime(df_IYE["Date"])

In [ ]:
df_IYE

           Date   Open   High    Low  Close  Volume
0    2000-06-16  51.61  51.78  51.55  51.77    2000
1    2000-06-19  51.53  51.53  50.63  50.63    2400
2    2000-06-20  50.11  50.11  49.78  49.78    1000
3    2000-06-21  50.44  51.70  50.44  51.67    3200
4    2000-06-22  51.92  51.92  50.52  50.53    2100
...         ...    ...    ...    ...    ...     ...
5829 2023-08-18  46.02  46.77  45.92  46.71  357874
5830 2023-08-21  46.91  47.12  46.17  46.48  435015
5831 2023-08-22  46.57  46.68  46.10  46.12  637860
5832 2023-08-23  45.71  46.05  45.28  46.00  449799
5833 2023-08-24  45.61  46.10  45.55  45.59  417455

[5834 rows x 6 columns]

In [ ]:
df_IYF = pd.read_csv("Stock_data/IYF_historical_data.csv")
df_IYF["Date"] = pd.to_datetime(df_IYF["Date"])

In [ ]:
df_IYF

           Date   Open    High      Low  Close  Volume
0    2000-05-26  91.02  91.020  91.0200  91.02       0
1    2000-05-30  71.59  71.590  71.5900  71.59       0
2    2000-05-31  73.63  73.630  73.6300  73.63     200
3    2000-06-01  73.88  75.690  73.8800  75.42    1000
4    2000-06-02  76.91  78.410  76.9100  78.31    2200
...         ...    ...     ...      ...    ...     ...
5843 2023-08-18  75.43  76.130  75.3500  75.87   96869
5844 2023-08-21  76.00  76.170  75.2100  75.75   90171
5845 2023-08-22  75.79  75.950  74.7485  74.85  167562
5846 2023-08-23  74.87  75.679  74.8500  75.67  124109
5847 2023-08-24  75.62  76.540  75.5900  75.62  111470

[5848 rows x 6 columns]

In [ ]:
df_IYW = pd.read_csv("Stock_data/IYW_historical_data.csv")
df_IYW["Date"] = pd.to_datetime(df_IYW["Date"])

In [ ]:
df_IYW

           Date    Open    High     Low   Close   Volume
0    2000-05-19  111.10  111.10  109.80  109.80    20000
1    2000-05-22  106.00  106.00  106.00  106.00      100
2    2000-05-23  109.30  109.30  108.00  108.40    26000
3    2000-05-24  102.90  107.30   99.50  107.30    24100
4    2000-05-25  110.40  110.50  105.80  105.80    16200
...         ...     ...     ...     ...     ...      ...
5848 2023-08-18  103.30  104.91  103.16  104.50   489626
5849 2023-08-21  105.07  106.67  104.94  106.45   458376
5850 2023-08-22  107.30  107.41  106.15  106.33  1124665
5851 2023-08-23  106.69  108.81  106.69  108.43   371328
5852 2023-08-24  109.80  109.85  105.81  105.87   405224

[5853 rows x 6 columns]